#footer {
	background: transparent !important;
}
#page-header {
	background: transparent !important;
}

#footer::before{
	background: transparent !important;
}
#page-header::before{
	background: transparent !important;
}



[data-theme＝"dark"] #footer::before{
	background: transparent !important;
}
[data-theme＝"dark"] #page-header::before{
	background: transparent !important;
}
